[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
djangorestframework = "*"
pillow = "*"
django = "*"
psycopg2-binary = "*"
dj-rest-auth = "*"
django-allauth = "*"
djangorestframework-simplejwt = "*"
whitenoise = "*"
drf-yasg = "*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.13"
